html {
    min-height: 100%;
    position: relative;
}
body {
    margin-bottom: 60px;
}
.footer {
    background-color: #f5f5f5;
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
    margin-top: 15px;
}
.title-container {
    max-width: 1024px;
    padding: 0 15px;
    width: auto;
}
.container .text-muted {
    margin: 20px 0;
}


.error {
    margin: 0 auto;
    text-align: center;
}

.error-code {
    bottom: 60%;
    color: #2d353c;
    font-size: 96px;
    line-height: 100px;
}

.error-desc {
    font-size: 12px;
    color: #647788;
}

.m-b-10 {
    margin-bottom: 10px!important;
}

.m-b-20 {
    margin-bottom: 20px!important;
}

.m-t-20 {
    margin-top: 20px!important;
}

#treetable {
    table-layout: fixed;
}
#treetable tr td:nth-of-type(1) {
    text-align: right;
}
#treetable tr td:nth-of-type(2) {
    text-align: center;
}
#treetable tr td:nth-of-type(3) {
    min-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#treebox{
    height:400px;
    overflow-y: auto;

}
